html {
    background-color: #000;
    font-family:monospace;
    color:white;
    position:absolute;
    bottom: 0;
   	left: 0;
   	/*max-height: 25%;*/
   	
}

.console {
	vertical-align: bottom;
}

input{
	font-size: 1em;
	background-color: #000;
	font-family:inherit;
	color:white;
	border:none;
	width: calc(100% - 20px);
}

input:focus {
	outline-width: 0;
}

